[submodule "joplen"]
	path = joplen
	url = git@gitlab.eecs.umich.edu:mattrmd-vl-research/joplen/joplen.git
	branch = main
[submodule "ccm"]
	path = ccm
	url = git@gitlab.eecs.umich.edu:mattrmd-vl-research/joplen/competing-methods/ccm.git
